<div id="div1">
  <h1>Đặt vé</h1>
  <hr/>

  <label>Start</label>
  <%= collection_select(:flight, :start, Airport.all,
                        :id, :name, options={:prompt => 'Select airport', :multiple => true},
                        {:id => 'cbxstart'}) %>
  <div id="divdiemden">
    <label>End</label>
    <%= collection_select(:flight, :end, Airport.all, :id, :name,
                          options={:prompt => 'Select airport', :multiple => true},
                          {:id => 'cbxend'}) %>
  </div>
  <label>Date</label>
  <input id="txtdate" type="date" placeholder="yyyy-mm-dd">
</div>
<button id="timve">Search Flights</button>
<script>
  $('#cbxstart').on('change', function () {
    var url = '/airstrips?start=' + $(this).val();
    $("#cbxend").empty();
    $.get(url, function (data) {
      $.each(data, function (key, val) {
        $.getJSON('/airports/' + val.end, function (data1) {
          $('#cbxend').append($('<option>', {
            value: val.end,
            text: data1.name
          }));
        });
      });
    });
  });
</script>
<br/>

<hr/>
</div>
<div id="div2">
</div>
<div id="div3">
  <br/><label>Enter ID Flight:</label><input type="number" id="txtDatve"><button id="btnDatve">Booking</button>
</div>
<div id="div4">
  <label>Enter your name:</label><input type="text" id="txtTen"><button id="btnTen">Ok</button>
</div>
<div id="div5">
  <h1>Booking Ticket Success</h1>
</div>
<script>
  $(document).ready(function () {
    $('#div3').hide();
    $('#div4').hide();
    $('#div5').hide();
  });
  $('#timve').click(function () {
    $('#div4').hide();
    $('#div5').hide();
    var start = $("#cbxstart option:selected").text();
    var end = $("#cbxend option:selected").text()
    var date = $("#txtdate").val();
//    var soluong = $("#txtsoluong").val();
    $('#div2').empty();
    str = '<h1>Danh sách chuyến bay thỏa mãn</h1><table border="1"><thead><th>Ma</th>'
        + '<th>Sân bay đi</th><th>Sân bay đến</th><th>Ngày</th><th>Giờ</th><th>Hạng</th>'
        +'<th>Giá</th><th>Số lượng</th><th>__ID__</th></th></thead>';
//    $.getJSON('/flights?start=' + start + '&end=' + end + '&date=' + date + '&slot=' + soluong, function (data) {
      $.getJSON('/flights?di=' + start + '&den=' + end + '&ngaydi=' + date, function (data) {
//        console.log(data);
      if (data.length == 0){
        $('#div2').html('Không có vé');
        return;
      }
      $.each(data, function (key, val) {
        $.getJSON('/flights?changbayid='+ val.id, function (data2) {
//          console.log(data2);
          $.each(data2, function (key2, val2) {
            $.getJSON('flights?changbay=' + val.id +'&pricelevel='+val2.pricelevel, function (data3) {
              console.log(data3);
              $.each(data3, function (key3, val3) {
                $.getJSON('pricelevels?id=' + val2.pricelevel, function (data4) {
                  console.log(data4);
                  $.each(data4, function (key4, val4) {
                    var temp1;
                    if (val2.grade == 'Y')
                      temp1 = "Phổ Thông";
                    if (val2.grade == 'C')
                      temp1 = "Thương Gia";
                        var timedi = new Date(val.time);
                        str += '<tr><td>' + val.code + '</td><td>' + $('#cbxstart option:selected').text() + '</td><td>'
                            + $('#cbxend option:selected').text() + '</td><td>' + val.day + '</td><td>'
                            + timedi.getHours() + ':' + timedi.getMinutes() + '</td><td>' + temp1 + '</td><td>' + val4.price + '</td><td>' + val2.slot
                            + '</td><td>' + val3.id + '</td></tr>';
                        if (key2 == data2.length - 1 && key == data.length - 1)
                          str += '</table>';
                        $('#div2').html(str);
                  });
                });
              });
            });
          });
        });
        $('#div3').show();
      });
    });
  });
  $("#btnDatve").click(function () {
    $('#div4').show();
    $('#div3').hide();

  });
  $("#btnTen").click(function () {
    $('#div5').show();
    $('#div3').hide();

    $('#div4').hide();
  });
</script>



